*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#0b0b0b;
color:#fff;
}

a{
text-decoration:none;
color:#FFD700;
}

.hero{
background:linear-gradient(135deg,#0f172a,#111827,#1e293b);
padding:60px 20px;
text-align:center;
}

.hero h1{
font-size:38px;
color:#FFD700;
margin-bottom:15px;
}

.hero p{
color:#d1d5db;
font-size:18px;
margin-bottom:25px;
}

#search{
width:100%;
max-width:650px;
padding:16px;
border:none;
border-radius:12px;
font-size:18px;
outline:none;
}

.kategori{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:18px;
padding:35px;
}

.card{
background:#1a1a1a;
padding:22px;
border-radius:14px;
text-align:center;
font-size:22px;
font-weight:bold;
transition:.3s;
cursor:pointer;
border:1px solid #222;
}

.card:hover{
background:#222;
transform:translateY(-4px);
border-color:#FFD700;
}

.terbaru{
padding:30px;
}

.terbaru h2{
color:#FFD700;
margin-bottom:25px;
font-size:32px;
}

.poster{
background:#151515;
border-radius:18px;
overflow:hidden;
margin-bottom:35px;
border:1px solid #222;
box-shadow:0 0 20px rgba(0,0,0,.35);
}

.poster img{
width:100%;
display:block;
}

.poster h3{
padding:20px 20px 10px;
font-size:30px;
}

.poster p{
padding:0 20px;
font-size:18px;
line-height:1.7;
}

.poster small{
display:block;
padding:15px 20px;
font-size:15px;
color:#aaa;
}

.poster button{
background:#FFD700;
color:#111;
border:none;
padding:12px 18px;
margin:0 0 20px 20px;
border-radius:10px;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.poster button:hover{
background:#ffe55c
